@model UserViewModel
@{
    ViewData["Title"] = "Default";
    Layout = null;
}
<div class="col-2 d-flex justify-content-center align-items-center">
    <ul class="icons d-flex m-0">
        <!-- <div id="search-btn" class="fas fa-search"></div> -->
        <li>@*<a href="#" class="fas fa-heart"></a>*@</li>
        <li><a asp-controller="Basket" asp-action="Index" class="fas fa-shopping-cart"></a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="position-relative">
                <a id="profile-btn" class="mx-3 fas fa-user" style="cursor:pointer"></a>

                <ul id="profile" class="list-group position-absolute my-4" style="width:250px; transform:translateX(-50%); z-index:1000; display:none;">
                    <li class="list-group-item p-0">
                        <a asp-controller="Account" asp-action="Subscribe" class="btn btn-outline-dark border-0 w-100 d-flex align-items-center">
                            <i class="@((Model.User.IsSubscriber)?"fas fa-bell":"far fa-bell")"></i>
                            <p class="mx-3 my-0">Subscription</p>
                        </a>
                    </li>                    
                    <li class="list-group-item p-0">
                        <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-outline-dark border-0 w-100 d-flex align-items-center">
                            <i class="fas fa-user-lock"></i>
                            <p class="mx-3 my-0">Change Password</p>
                        </a>
                    </li>
                    <li class="list-group-item p-0">
                        <a asp-controller="Account" asp-action="LogOut" id="login-out" class="btn btn-outline-dark border-0 w-100 d-flex align-items-center">
                            <i class="fas fa-sign-out-alt"></i>
                            <p class="mx-3 my-0">Log Out</p>
                        </a>
                    </li>
                </ul>
            </li>

        }
        else
        {
            <li><a id="login-btn" class="fas fa-sign-in-alt"></a></li>
        }
    </ul>
</div>