section#characters {
    background-color: $bg-gray;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .heading {
        margin-bottom: 100px;
    }
    .cards {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        .card {
            border-radius: 1rem;
            // width: 350px;
            background-color: transparent;
            border: none;
            transition: all 0.2s linear;
            .card-header {
                padding: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                background-color: transparent;
                border: none;

                .circle-image {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    // background-color: #fff;
                    background-color: $bg-navy;
                    transition: transform 0.2s linear;
                    padding: 20px;
                    overflow: hidden;
                    a {
                        img {
                            transition: transform 0.2s linear;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            h1 {
                text-align: center;
                line-height: 2;
            }
            .card-body {
                padding: 0 25px;
                p {
                    text-align: center;
                    line-height: 1.5;
                    font-size: 19px;
                    font-weight: 700;
                }
            }
            .card-footer {
                text-align: center;
                padding: 25px 0;
                display: flex;
                background-color: transparent;
                border: none;
                a {
                    @extend %button;
                    color: #fff;
                }
            }
        }
        .card:nth-of-type(1) {
            margin-left: 0;
        }
        .card:nth-of-type(2) {
            transform: translateY(-50px);
            .circle-image {
                width: 200px;
                height: 200px;
            }
            p {
                font-size: 23px;
            }
        }
        .card:nth-of-type(3) {
            margin-right: 0;
        }
        .card:hover {
            box-shadow: 0 0 20px black;
            background-color: $bg-navy;
            color: $bg-gray;
            .card-header {
                box-shadow: 0 0 20px $bg-gray;
                background-color: $bg-gray;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                .circle-image {
                    background-color: $bg-gray;
                    border-radius: 0;
                    img {
                        transform: scale(1.5);
                    }
                }
            }
            h1 {
                color: $bg-green;
            }
            .card-footer {
                a {
                    color: #000;
                    &:hover {
                        color: #45f3ff;
                    }
                }
            }
        }
    }
}

.item{

    .character-card {
        // width: 300px;
        width: 100%;
        height: 400px;
        background-color: #212121;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding: 20px;  
      
        &__body {
            // width: 250px;
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden;  
               
    
            img {
                position: absolute;
                top: 0;
                left: 50%; 
                transition: all 0.4s linear;
            }
            img:nth-child(1) {
                opacity: 1!important;
                filter: blur(0px);             
                transform: translateX(-50%) scaleX(1);
            }
            img:nth-child(2) {
                opacity: 0!important;
                filter: blur(10px);
                transform: translateX(-100%) scaleX(2);            
            }
    
            &:hover{
               
                img:nth-child(1) {
                    opacity: 0!important;
                    filter: blur(10px);
                    transform: translateX(-100%) scaleX(2);            
                }
                img:nth-child(2) {
                    opacity: 1!important;
                    filter: blur(0px);
                    transform: translateX(-50%) scaleX(1);
    
                }
            }
        }
        &__footer {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100px;
            padding: 25px;

            img{
                width: 75px !important;
                height: 75px !important;
            }
        }
    
       
    }

  
}
