$summer-color:#bcac76;
$contact-text:#868e96;
$contact-hover-text:#212529;
$contact-border-color:#ced4da;
$contact-letter-color:#495057;
$copyright-color:#adb5bd;
$bg-gray:#ebf7ff;
$bg-navy:#222f3e;
$bg-green:#1dd1a1;
$bg-white:white;
$bg-blue:#c4e0f3;
$btn-red:#dc3545;
$summer-path-color:#FFB4BC;
$fresh-layout:#877f64;
$head-link-hovered:#9a884b;
$summer-layout:#eae0bd;
$time-layout:#8ed1fc;
$info-layout:#f8f9fa;
$home-imageShadowPath-color:#e7eaf9;
$home-imageShadowPath2-color:#ffdddd;
$home-imageShadowPath3-color:#f5e6a8;
$home-bigPath-color:#e0d4ab;
$navbar-dark:#00000080;
$next-hover-color:#343a40;
$about-muted:#f8f9fa ;
