section#home {
    background: url(../img/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .content {
            flex: 1 1 42rem;

            h3 {
                color: black;
                font-size: 4.5rem;
            }

            p {
                font-size: 1.4rem;
                line-height: 2;
                padding: 1rem 0;
                color: #666;
            }

            .btn {
                margin-top: 1rem;
                display: inline-block;
                padding: 0.9rem 3rem;
                border-radius: 0.5rem;
                color: #fff;
                background: #27ae60;
                font-size: 1.7rem;
                cursor: pointer;
                font-weight: 500;

                &:hover {
                    background: #219150;
                    color: #fff;
                }
            }
        }

        .books-slider {
            flex: 1 1 42rem;
            text-align: center;
            margin-top: 2rem;
    
            a {
                img {
                    height: 300px;
                    width: 200px;
                }
    
                &:hover {
                    img {
                        transform: scale(0.9);
                    }
                }
            }
    
            .stand {
                width: 100%;
                margin-top: -2rem;
            }
        }
    }

   
}

// .home {
//     background: url(../img/banner-bg.jpg) no-repeat;
//     background-size: cover;
//     background-position: center;
// }

// .home .row {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     // gap:1.5rem;
// }

// .home .row .content {
//     flex: 1 1 42rem;
// }

// .home .row .books-slider {
//     flex: 1 1 42rem;
//     text-align: center;
//     margin-top: 2rem;
// }

// .home .row .books-slider a img {
//     // height: 25rem;
//     // height: 100%;
//     height: 300px;
//     width: 200px;
// }

// .home .row .books-slider a:hover img {
//     transform: scale(0.9);
// }

// .home .row .books-slider .stand {
//     width: 100%;
//     margin-top: -2rem;
// }

// .home .row .content h3 {
//     color: black;
//     font-size: 4.5rem;
// }

// .home .row .content p {
//     font-size: 1.4rem;
//     line-height: 2;
//     padding: 1rem 0;
//     color: #666;
// }

// .btn {
//     margin-top: 1rem;
//     display: inline-block;
//     padding: 0.9rem 3rem;
//     border-radius: 0.5rem;
//     color: #fff;
//     background: #27ae60;
//     font-size: 1.7rem;
//     cursor: pointer;
//     font-weight: 500;
// }

// .btn:hover {
//     background: #219150;
//     color: #fff;
// }
