
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 2rem;
    padding:.5rem 2rem;
    color:#444;
    background: #fff;
    border:var(--border);
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
    transition: all .4s linear;
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
   

}

.featured .featured-slider .box .image img{
    height: 15rem;
    transition: all .4s linear;

}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
    transition: all .4s linear;

}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:#444;
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:#444;
}

.featured .featured-slider .box .content .price{
    font-size: 2rem;
    color:#444;
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:#444;
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: #444;
    color:#fff;
}

// .btn{
//     margin-top: 1rem;
//     display:inline-block;
//     padding:.9rem 2rem;
//     border-radius: .5rem;
//     color:#fff;
//     background:var(--green);
//     font-size: 1.5rem;
//     cursor: pointer;
//     font-weight: 500;
// }

// .btn:hover{
//     background:var(--dark-color);
//     color:#fff;
// }