section#layout {
    margin: 0;
    padding: 0;
    height: 600px;
    position: relative;
    .layout {
        .info-container {
            padding: 0 100px;

            position: absolute;
            background-color: #0dcaf0c9;
            background-blend-mode: color-burn;
            bottom: 0;
            left: 0;
            width: 100%;

            .box {
                transform: translateY(-25%);
                display: flex;

                .info {
                    height: 160px;
                    width: 100%;
                    color: white;

                    img {
                        width: 160px;
                        height: 160px;
                        border: 4px solid white;
                    }
                }
            }
        }
    }
}

