.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
    transition: right 0.4s linear;   

    form {
        background: #fff;
        border: var(--border);
        width: 40rem;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border-radius: 0.5rem;
        margin: 2rem;

        h3 {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: var(--black);
            text-align: center;
        }

        span {
            display: block;
            font-size: 1.5rem;
            padding-top: 1rem;
        }

        .box {
            width: 100%;
            margin: 0.7rem 0;
            font-size: 1.6rem;
            border: var(--border);
            border-radius: 0.5rem;
            padding: 1rem 1.2rem;
            color: var(--black);
            text-transform: none;
        }

        .checkbox {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 0;

            label {
                font-size: 1.5rem;
                color: var(--light-color);
                cursor: pointer;
            }
        }

        .btn {
            text-align: center;
            width: 100%;
            margin: 1.5rem 0;
        }

        p {
            padding-top: 0.8rem;
            color: var(--light-color);
            font-size: 1.5rem;

            a {
                color: var(--green);
                text-decoration: underline;
            }
        }
        
    }

    #close-login-btn {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        font-size: 5rem;
        color: var(--black);
        cursor: pointer;
    }
    
    &.active {
        right: 0;
    }
}
