@model TagViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading page-title-icon-rounded">
            <div class="page-title-icon">
                <i class="pe-7s-id icon-gradient bg-tempting-azure font-weight-bolder">
                </i>
            </div>
            <div>
                <h1>Add a Tag</h1>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <form enctype="multipart/form-data" class="needs-validation" novalidate="" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label asp-for="Tag.Title"></label>
                    <input asp-for="Tag.Title" class="form-control" placeholder="Tag" required>
                    <span asp-validation-for="Tag.Title"></span>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
