<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="This is a online shopping site" />
    <meta name="keywords" content="Comics,dark comics" />
    <meta name="author" content="Orxan Ibrahimov" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dark Comics</title>
    <link rel="shortcut icon" href="~/assets/img/logo-sm.png" type="image/icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
    <script src="https://kit.fontawesome.com/c372b7f0bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/assets/plugin/css/owl.carousel.min.css" />    
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>

<body>
    @await Component.InvokeAsync("Header");
    <!-- Main Start -->
    <main>
        @RenderBody()

        <!--Loader Start-->
        <div class="loader-container">
            <img src="~/assets/img/loader-img.gif" alt="loader" />
        </div>
        <!--Loader End-->
    </main>
    <!-- Main End -->
   
    @await Component.InvokeAsync("Footer")

    <script src="~/assets/jquery/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
    <script src="~/assets/plugin/js/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/assets/scripts/main.js"></script>
    @RenderSection("summernote", false)
    <script src="~/assets/js/main.js"></script>
    @RenderSection("basket", false)
</body>

</html>