@model ComicViewModel
@{
    Layout = null;
}
@foreach (var serie in Model.Series)
{
    <div class="col-12 col-md-6 col-lg-3">
        <div class="volume my-5">
            <a href="#" class="volume__body">
                <img src="~/assets/img/comics/serie-@serie.Id.ToString()/@serie.Cover"
                     class="w-100 h-100" alt="volume">
                <img src="~/assets/img/comics/serie-@serie.Id.ToString()/@serie.Backface"
                     class="w-100 h-100" alt="volume">
            </a>
            <div class="volume__footer">
                <h5 class="text-center fw-bold my-3">@serie.Name</h5>
                <a href="" class="volume__btn">Go Volume</a>
            </div>
        </div>
    </div>
}
